# lines starting with # are ignored

# Where you want script to look for raw files
source_files_path="/Users/eat_sleep_live_skateboarding/Documents"

# Where you want script to archive files to
archive_path="/Users/eat_sleep_live_skateboarding/Desktop"

# what kind of file you want siemens to look for
file_suffix=siemens_log.csv