# lines starting with # are ignored
# put file paths in double quotes (" ")

# Where you want script to look for raw files
source_files_path=/Users/eat_sleep_live_skateboarding/Documents/Chaos Lab 2017/Siemens 12march-26march/RAW

# Where you want the ARCHIVE directory to be
archive_path=/Users/eat_sleep_live_skateboarding/Documents/Chaos Lab 2017/Siemens 12march-26march

# what kind of file you want siemens to look for
file_suffix=.CSV

