# lines starting with # are ignored
# put file paths in double quotes (" ")

# Where you want script to look for raw files
source_files_path="/home/chaos/Data/Siemens_reports"

# Where you want the ARCHIVE directory to be
archive_path="/home/chaos/Data/Siemens_reports"

# what kind of file you want siemens to look for
file_suffix=siemens_report.csv

